* {
  box-sizing: border-box;
}

.App {
  text-align: left;
  display: flex;
}


.file-explorer {
  width: 25vw;
  height: 100vh;
  padding: 16px;
  background-color: #efefef;
}

.content-viewer {
  width: 75vw;
  height: 100vh;
  padding: 16px;
}

@media scree and (max-width) {
  .file-explorer {}

  .content-viewer {}
}
